fastapi
uvicorn
langchain
langchain-community
langchain-core
faiss-cpu
sentence-transformers
pypdf
python-multipart
langchain-google-genai
pydantic
python-dotenv
langchain-openrouter
langchain-huggingface
langchain-experimental==0.0.56
faiss-cpu==1.8.0
langchain-openai
streamlit
datasets
ragas
rank-bm25